<div class="nav-wrapper">

  <a href="#" class="brand-logo">{{application.displayName}}</a>

  <ul class="right">
    <li>{{#link-to 'editar-base-relacional'}}Editar Relacional{{/link-to}}</li>
    <li>{{#link-to 'editar-base-grafo'}}Editar Grafo{{/link-to}}</li>
    <li>
      {{#tenpines/drop-down label='Opciones' icon='arrow_drop_down' iconToTheRight=true removeBtn=true }}
        <li>{{#link-to 'users'}}Usuarios{{/link-to}}</li>
        <li class="divider"></li>
        <li><a href="#" {{action "logout"}}>Salir</a></li>
      {{/tenpines/drop-down }}
    </li>
  </ul>

</div>