<form>
  <div class="input-field">
    {{input type="search" placeholder="Nombre, tag, o descripcion ..." value=globalSearcher.searchExpression }}
    <label for="search"><i class="material-icons" {{action 'search'}} >search</i></label>
    <i class="material-icons">close</i>
  </div>
</form>