{{navigation-bar}}

<div class="row">
  <!-- Navegacion lateral -->
  <div class="col s3">

    {{multi-accion-relacional col="s12"}}

  </div>

  <!-- Vista principal -->
  <div class="col s6">
    <div class="row">
      <div class="col s12">
        Aca va la tabla
      </div>
    </div>
  </div>

  <!-- Busqueda lateral -->
  <div class="col s3">

    <div class="row">
      {{ejecutor-sql col="s12"}}
    </div>

  </div>

</div>



