{{unauthenticated-bar}}

<div class="row">
  <div class="col s12">

    <h4>Direccion incorrecta!</h4>
    <p>
    <span>
      No existe contenido en la url: /{{model.badUrl}}<br>
    </span>
    </p>
    <p>
      {{#link-to 'index'}}Volver al inicio{{/link-to}}
    </p>

  </div>
</div>

